<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="springboot-Application" type="Application" factoryName="Application">
    <module name="springboot-rest-api" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>